

	<div id="contactform">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8 borbot3 borbot4"><h2> Contact Me!</h2></div>
			<div class="col-2"></div>
		</div>
		<div class="row">
			<div class="col-2"></div>

			<div class="col-8 borbot3">
				<div class="row">
					<div class="col-6 formpt"><img src="img/cheems.png"></div>
					
			    	<div class="col-6"><p>reworking this section</div>
		    	</div>
			</div>

			<div class="col-2"></div>
		</div>

	</div>

	<div class="middle">
		<div class="row">
			<div class="col-2"></div>

			<div class="col-8 row">
				<div class = "col-6 borbot">
					<img src="img/social.png" style="border-radius:25px;">
				</div>
				<div class = "col-6 borbot" style="padding-top: 5%;">
					<h1> Socials! </h1>
				</div>
			</div>

			<div class="col-2"></div>
		</div>


		<div class="row">
			<div class="col-2"></div>

			<div class="col-8 row">
				<div class = "col-6">
					<a href="https://github.com/MatiasAB"><img src="img/github.png"></a>
				</div>
				<div class = "col-6" style="padding-top:5%;">
					<h3>Check out my GitHub page!</h3>
				</div>
			</div>

			<div class="col-2"></div>
		</div>

		<div class="row">
			<div class="col-2"></div>

			<div class="col-8 row">
				<div class = "col-6">
					<a href="https://twitter.com/bermudez3angle"><img src="img/twitter.png"></a>
				</div>
				<div class = "col-6" style="padding-top:5%;">
					<h3> Follow me on Twitter!</h3>
				</div>
			</div>

			<div class="col-2"></div>
		</div>


		<div class="row">
			<div class="col-2"></div>

			<div class="col-8 row">
				<div class = "col-6">
					<a href="https://www.instagram.com/bermudeztriangle1210/"><img src="img/instagram2.jpg"></a>
				</div>
				<div class = "col-6" style="padding-top:5%;">
					<h3> Follow me on Instagram! </h3>
				</div>
			</div>

			<div class="col-2"></div>
		</div>

		<div class="row" style="padding-bottom: 5%;">
			<div class="col-2"></div>

			<div class="col-8 row">
				<div class = "col-6">
					<a href="https://www.facebook.com/matias.bermudez.5"><img src="img/facebook.png"></a>
				</div>
				<div class = "col-6" style="padding-top:5%;">
					<h3> Add me on Facebook! </h3>
				</div>
			</div>

			<div class="col-2"></div>
		</div>
	</div>