
	<div class = "row" style = "background-image: url(img/rattlesnake.png); min-height: 101px; height: 796px; z-index: -1">
		<div class = "col-4"></div>
		<div class = "col-4" style="margin-top: 4%">
			<h1>Welcome!</h1>
		</div>
		<div class = "col-4"></div>
		<div class = "col-4"></div>
		<div class = "col-4 foot">
			<h2 class = "stool" style = "color:white;">See below for "About Me" and "The Making Of This Site"!</h2>
		</div>
		<div class = "col-4"></div>
	</div>

	<div class = "row middle">
		<div class = "col-2">
		</div>
		<div class = "col-8">
			<table>
				<tr>
					<td> </td>
					<td> <h2 style="text-decoration:underline;""> About Me </h2> </td>
				</tr>
				<tr> 
					<td><img src = "img/profpic.jpg" style="max-width: 80%; min-height: 25%"></td>
					<td> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</td>
				</tr>
			</table>
		</div>
		<div class = "col-2"></div>
	</div>

	<div class = "row" style = "background-image: url(img/js-image.jpeg); min-height: 101px; height: 796px; z-index: -1">
		<div class = "col-4"></div>
		<div class = "col-4" style="margin-top: 4%">
			<h1 style = "color:white;">The Making Of This Site</h1>
		</div>
		<div class = "col-4"></div>
		<div class = "col-4"></div>
		<div class = "col-4 foot">
			<img src="img/arrow.png" id="arrow"></td>
		</div>
		<div class = "col-4"></div>
	</div>

	<div class = "row" style="background-color:black;">

		<div class = "col-2">
		</div>

		<div class = "col-8">
			<table>
				<tr>
					<td> <h2 style="text-decoration:underline; color:white;"> What's in a personal site? </h2> </td>
					<td></td>
				</tr>
				<tr> 
					
					<td> <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p style="color:white;"> made this site completely from scratch btw </p>
					</td>
				</tr>
			</table>
		</div>

		<div class = "col-2"></div>
	</div>
