<div class="container-fluid">
	<div class = "row" style = "background-image: url(img/rattlesnake.png); min-height: 101px; height: 796px;">
		<div class = "col-4"></div>
		<div class = "col-4" style="margin-top: 4%">
			<h1>Welcome!</h1>
		</div>
		<div class = "col-4"></div>
		<div class = "col-4"></div>
		<div class = "col-4 foot">
			<h2 class = "stool" style = "color:white;">See below for "About Me" and "The Making Of This Site"!</h2>
		</div>
		<div class = "col-4"></div>
	</div>

	<div class = "row middle">
		<div class = "col-2">
		</div>
		<div class = "col-8">
			<table>
				<tr>
					<td> </td>
					<td> <h2 style="text-decoration:underline;"> About Me</h2> </td> 
				</tr>
				<tr> 
					<td><img src = "img/profpic.jpg" style="max-width: 80%; min-height: 25%"> </td>

					<td> <p>Hello there! I am Matias Bermudez, a student currently pursuing a bachelor's degree in Computer Science at New York University. My hometown is Redmond, Washington, but over the past couple of years, NYC has become like a second home to me as well. Some of my interests include writing, skiing, music, and video games. In terms of coding languages, I know Java, C, Python, Javascript, and HTML/CSS. If you want to learn more about my coding background/experience and or projects, see the Portfolio page (linked<a id="splink" href="/portfolio">here</a>and at the top of this page in the navbar).</p>
					</td>
				</tr>
			</table>
		</div>
		<div class = "col-2"></div>
	</div>

	<div class = "row" style = "background-image: url(img/js-image.jpeg); min-height: 101px; height: 796px; z-index: -1">
		<div class = "col-4"></div>
		<div class = "col-4" style="margin-top: 4%">
			<h1 style = "color:white;">The Making Of This Site</h1>
		</div>
		<div class = "col-4"></div>
		<div class = "col-4"></div>
		<div class = "col-4 foot">
			<img src="img/arrow.png" id="arrow"></td>
		</div>
		<div class = "col-4"></div>
	</div>

	<div class = "row" style="background-color:black; padding-bottom: 2%;">

		<div class = "col-2">
		</div>

		<div class = "col-8">
			<table>
				<tr>
					<td> <h2 style="text-decoration:underline; color:white;">"How did you make this?"</h2> </td>
					<td></td>
				</tr>
				<tr> 
					
					<td> 
						<p style="color:white;">After spending a few years as a programmer, I noticed that a lot of people, both programmers in the workforce and students like me, had personal websites. So, I decided to get one of my own. It may surprise you to know that I made this site completely from scratch. Yep! No WordPress or anything like that. JavaScript, HTML/CSS, a couple of other helpful tools (such as Node, Boostrap), and my programming skills are responsible for everything you see on this site. </p>
					</td>
				</tr>
			</table>
		</div>

		<div class = "col-2"></div>
	</div>
</div>