
<div class = "row" style = "background-image: url(img/rattlesnake.png); min-height: 101px; height: 796px">
	<div class = "col-4"></div>
	<div class = "col-4">
		<h2>Welcome!</h2>
	</div>
	<div class = "col-4"></div>
	<div class = "col-4"></div>
	<div class = "col-4 foot">
		<h2 class = "stool" style = "color: red;">Welcome (but in red)!</h2>
	</div>
	<div class = "col-4"></div>
</div>

<div class = "row">
	<div class = "col-6">
	<p> Admiral Assh-...Admiral Abo. </p>
	</div>
</div>