
<div class = "row" style = "background-image: url(img/rattlesnake.png); min-height: 101px; height: 796px; z-index: -1">
	<div class = "col-4"></div>
	<div class = "col-4" style="margin-top: 4%">
		<h1>Welcome!</h1>
	</div>
	<div class = "col-4"></div>
	<div class = "col-4"></div>
	<div class = "col-4 foot">
		<h2 class = "stool" style = "background-color:lightgrey;">See below for "About Me" and "Making This Site"!</h2>
	</div>
	<div class = "col-4"></div>
</div>

<div class = "row middle">
	<div class = "col-2">
	</div>
	<div class = "col-8">
		<table>
			<tr>
				<td> <img src = "img/profpic.jpg" style="max-width: 80%; min-height: 25%"></td>
				<td> <h2> About Me </h2>
			</tr>
			<tr> 
				<td></td>
				<td> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p> made this site completely from scratch btw </p>
				</td>
			</tr>
		</table>
	</div>
	<div class = "col-2"></div>
</div>