<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Personal Site</title>
</head>
<body>
	<div class = "row navbg">
		<div class = "col-2"></div>
		<div class ="col-8">
			<nav class="navbar navbar-inverse navbar-right">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <h3>Matias Bermudez</h3>
			    </div>
			    <div>
			      <a href="/">Home</a>
			      <a href="/contact">Contact Me + Socials</a>
			    </div>
			  </div>
			</nav>
		</div>
	<div class = "col-2"></div>
	</div>
	{{{ body }}}
</body>
</html>