<div class="container-fluid">

	<div class="row" style="background-color: black;">
		<div class="col-2"></div>
		<div class="col-8">
			<table class="container-fluid">
				<tr class="row">
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="color:gold; text-decoration: underline;"><i>Game of Thrones</i> Family Tree (October 2018)</h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/GoT-Family-Tree"><img style="width:100%; height:auto;" src="img/got.jpg"></a>
					</td>
					<td class="col-8">
						<p style="color:gold;">This project was originally an assignment for my Data Structures course. This Java program uses data from the hit HBO show <i>Game of Thrones</i> to create a database containing the series' characters, lineages, and battles. You can ask for information for just one character or the whole database. You can also ask to see all of the Houses, showing their family trees and members. </p>
						<p style="color:gold;"> GitHub link: <a style="color:gold;" href="https://github.com/MatiasAB/GoT-Family-Tree">https://github.com/MatiasAB/GoT-Family-Tree</a></p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row" style="background-image: url(img/stars.jpg);">
		<div class="col-2"></div>

		<div class="col-8">
			<table class="container-fluid">
				<tr class="row"><
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="color:#49fb35; text-decoration:underline;"> Space Invaders Mod (January 2019)</h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/Invaders/tree/shapeChange"><img style="width:100%; height:auto;" src="img/invader.jpg"></a>
					</td>
					<td class="col-8">
						<p style="color:#49fb35; font-weight: bold;">Originally, this repo was designed to help teach beginners the basics of Java under the guise of programming the classic video game, <i>Space Invaders</i>.  What I did (on top of implementing the basic functions of the game to make it playable) was add some additional features. Instead of one uniform enemy formation for the whole game, enemies now come in different formations on each level. There are now two new ways to kill enemies: 1) with the triple shot, an alternate firing mode with extra cooldown, and 2) the rapid fire powerup, which practically turns the player's weapon into a machine gun.</p>
						<p style="color:#49fb35; font-weight: bold;"> GitHub link: <a style="color:#49fb35; font-weight: bold;" href="https://github.com/MatiasAB/Invaders/tree/shapeChange">https://github.com/MatiasAB/Invaders/tree/shapeChange</a></p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-2"></div>
	</div>

	<div class="row" style="background-image: url(img/fgc.jpg);">
		<div class="col-2"></div>

		<div class="col-8">
			<table class="container-fluid">
				<tr class="row">
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="text-decoration:underline; color:aqua;">VOD Center (April 2020) </h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/vod-center"><img style="width:100%; height:auto;" src="img/logo.jpg"></a>
					</td>
					<td class="col-8">
						<p style="font-weight: bold; color: blue; background-color: lightgrey;">As a competitor in a fighting game, one of the most useful tools for improvement is reviewing footage of your matches, or a VOD (side note: usually, players also study VODs they are not personally featured in). But more often than not, your VODs are not always in the same place, which can make it annoying to review multiple VODS in the same session. VOD Review Center is a web app that allows users to keep track of their VODs.</p>
						<p style="font-weight: bold; color: blue; background-color: lightgrey;"> Site Link: <a style="font-weight: bold; color: blue;" href="#">[url TBD]</a></p>
						<p style="font-weight: bold; color: blue; background-color: lightgrey;"> GitHub link: <a style="font-weight: bold; color: blue;" href="https://github.com/MatiasAB/vod-center">https://github.com/MatiasAB/vod-center</a></p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-2"></div>
	</div>

	<div class="row" style="background-image: url(img/rattlesnake.png);">
		<div class="col-2"></div>

		<div class="col-8">
			<table class="container-fluid">
				<tr class="row">
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="text-decoration:underline;">This website! (June 2020) </h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="/"><img style="width:100%; height:auto; padding-bottom: 15%;" src="img/profpic.jpg"></a>
					</td>
					<td class="col-8" style="">
						<p style="font-weight: bold; background-color: lightgrey;">See "The Making of This Site" on the bottom of the home page for more information!</p>
						<p style="font-weight: bold; background-color: lightgrey;"> GitHub link: <a style="font-weight: bold;" href="https://github.com/MatiasAB/psite">https://github.com/MatiasAB/psite</a></p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-2"></div>
	</div>


</div>