<div class="container-fluid">

	<div class="row" style="">
		<div class="col-2"></div>
		<div class="col-8">
			<table>
				<tr>
					<td></td>
					<td>
						<h2>Overview</h2>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa eget. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Phasellus faucibus scelerisque eleifend donec. Pulvinar sapien et ligula ullamcorper malesuada proin. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Lacinia quis vel eros donec ac odio tempor orci. Aliquam ut porttitor leo a diam sollicitudin. Sed blandit libero volutpat sed cras ornare arcu. Vitae sapien pellentesque habitant morbi. Lacus laoreet non curabitur gravida. Aliquam sem et tortor consequat id porta. Nunc sed blandit libero volutpat sed cras ornare. Id donec ultrices tincidunt arcu non sodales neque. Semper viverra nam libero justo laoreet sit amet cursus sit. Sed id semper risus in hendrerit. Rhoncus dolor purus non enim praesent elementum facilisis. Morbi tristique senectus et netus et malesuada fames ac. Fames ac turpis egestas maecenas pharetra.</p>

						<p>Perhaps some background for this section? Clarify links are in images</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row" style="background-color: black;">
		<div class="col-2"></div>
		<div class="col-8">
			<table class="container-fluid">
				<tr class="row">
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="color:gold; text-decoration: underline;">Game of Thrones Family Tree</h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/GoT-Family-Tree"> <img style="width:100%; height:auto;" src="img/got.jpg"> </a>
					</td>
					<td class="col-8">
						<p style="color:gold;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa eget. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Phasellus faucibus scelerisque eleifend donec. Pulvinar sapien et ligula ullamcorper malesuada proin. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Lacinia quis vel eros donec ac odio tempor orci. Aliquam ut porttitor leo a diam sollicitudin. Sed blandit libero volutpat sed cras ornare arcu. Vitae sapien pellentesque habitant morbi. Lacus laoreet non curabitur gravida. Aliquam sem et tortor consequat id porta. Nunc sed blandit libero volutpat sed cras ornare. Id donec ultrices tincidunt arcu non sodales neque. Semper viverra nam libero justo laoreet sit amet cursus sit. Sed id semper risus in hendrerit. Rhoncus dolor purus non enim praesent elementum facilisis. Morbi tristique senectus et netus et malesuada fames ac. Fames ac turpis egestas maecenas pharetra.</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row" style="background-image: url(img/stars.jpg);">
		<div class="col-2"></div>

		<div class="col-8">
			<table class="container-fluid">
				<tr class="row"><
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="color:#49fb35; text-decoration:underline;"> Space Invaders Mod</h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/GoT-Family-Tree"><img style="width:100%; height:auto;" src="img/invader.jpg"></a>
					</td>
					<td class="col-8">
						<p style="color:#49fb35; font-weight: bold;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa eget. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Phasellus faucibus scelerisque eleifend donec. Pulvinar sapien et ligula ullamcorper malesuada proin. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Lacinia quis vel eros donec ac odio tempor orci. Aliquam ut porttitor leo a diam sollicitudin. Sed blandit libero volutpat sed cras ornare arcu. Vitae sapien pellentesque habitant morbi. Lacus laoreet non curabitur gravida. Aliquam sem et tortor consequat id porta. Nunc sed blandit libero volutpat sed cras ornare. Id donec ultrices tincidunt arcu non sodales neque. Semper viverra nam libero justo laoreet sit amet cursus sit. Sed id semper risus in hendrerit. Rhoncus dolor purus non enim praesent elementum facilisis. Morbi tristique senectus et netus et malesuada fames ac. Fames ac turpis egestas maecenas pharetra.</p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-2"></div>
	</div>

	<div class="row" style="background-image: url(img/fgc.jpg);">
		<div class="col-2"></div>

		<div class="col-8">
			<table class="container-fluid">
				<tr class="row">
					<td class="col-4"></td>
					<td class="col-8">
						<h2 style="text-decoration:underline; color:aqua;">VOD Center</h2>
					</td>
				</tr>
				<tr class="row">
					<td class="col-4">
						<a href="https://github.com/MatiasAB/vod-center"><img style="width:100%; height:auto;" src="img/logo.jpg"></a>
					</td>
					<td class="col-8">
						<p style="font-weight: bold; color: aqua;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa eget. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Phasellus faucibus scelerisque eleifend donec. Pulvinar sapien et ligula ullamcorper malesuada proin. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Lacinia quis vel eros donec ac odio tempor orci. Aliquam ut porttitor leo a diam sollicitudin. Sed blandit libero volutpat sed cras ornare arcu. Vitae sapien pellentesque habitant morbi. Lacus laoreet non curabitur gravida. Aliquam sem et tortor consequat id porta. Nunc sed blandit libero volutpat sed cras ornare. Id donec ultrices tincidunt arcu non sodales neque. Semper viverra nam libero justo laoreet sit amet cursus sit. Sed id semper risus in hendrerit. Rhoncus dolor purus non enim praesent elementum facilisis. Morbi tristique senectus et netus et malesuada fames ac. Fames ac turpis egestas maecenas pharetra.</p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-2"></div>
	</div>


</div>