html {
    background: #ffffff;
    color: #000000;
    font-family: Roboto, sans-serif;
}

body {
    max-width: 1468px;
}

.navbg {
    background-color: grey;
    outline: 2px solid black;
}

.foot {
    position:relative;
}

.stool {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -50%;
    right: 50%;
    margin-right: -50%;
}

a {
    padding: 5px;
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
}

nav div .dropdown-menu {
  display: none;
}

@media (max-width: 960px) {
  nav div a  { display: none; }
  nav div { display: inline-block; }
}

.row {
    text-align: center;
}