html {
    background: #ffffff;
    color: #000000;
    font-family: Roboto, sans-serif;
}

.navbg {
    background-color: grey;
    outline: 2px solid black;
}


a {
    padding: 5px;
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
}

nav div .dropdown-menu {
  display: none;
}

@media (max-width: 960px) {
  nav div a  { display: none; }
  nav div { display: inline-block; }
}